<div class="modal-header headModal">
  <div [ngSwitch]="cliOrProdOrSale">
    <h4 *ngSwitchCase="'productos'">Producto</h4>
    <h4 *ngSwitchCase="'clientes'">Cliente</h4>
    <h4 *ngSwitchCase="'ventas'">Venta</h4>
  </div>
  <button
    type="button"
    class="close buttonCloseModal px-3 py-2"
    aria-label="Close"
    (click)="modal.dismiss()"
  >
    <span aria-hidden="true">X</span>
  </button>
</div>
<div class="modal-body bodyModal" [ngSwitch]="cliOrProdOrSale">
  <div
    class="d-flex flex-column align-items-center"
    *ngSwitchCase="'productos'"
  >
    <div class="d-flex flex-column align-items-center">
      <h5>NOMBRE</h5>
      <p>{{ elementData.nombre }}</p>
    </div>
    <div class="d-flex flex-column align-items-center">
      <h5>CODIGO</h5>
      <p>{{ elementData.codigo }}</p>
    </div>
    <div class="d-flex flex-column align-items-center">
      <h5>PRECIO</h5>
      <p>${{ elementData.precio }}</p>
    </div>
    <div class="d-flex flex-column align-items-center">
      <h5>NUMERO</h5>
      <p>{{ elementData.numero }}</p>
    </div>
    <div class="d-flex flex-column align-items-center">
      <h5>ID</h5>
      <p>{{ elementData.id }}</p>
    </div>
    <div class="d-flex flex-column align-items-center">
      <h5>CREADO</h5>
      <p *ngIf="elementData.created_at as string">
        {{ elementData.created_at | dateSlice }}
      </p>
    </div>
    <div class="d-flex flex-column align-items-center">
      <h5>EDITADO</h5>
      <p *ngIf="elementData.updated_at as string">
        {{ elementData.updated_at | dateSlice }}
      </p>
    </div>
  </div>

  <div class="d-flex flex-column align-items-center" *ngSwitchCase="'clientes'">
    <div class="d-flex flex-column align-items-center">
      <h5>NOMBRE</h5>
      <p>{{ elementData.nombre }}</p>
    </div>
    <div class="d-flex flex-column align-items-center">
      <h5>CUIT</h5>
      <p>{{ elementData.cuit_formateado }}</p>
    </div>
    <div class="d-flex flex-column align-items-center">
      <h5>EMAIL</h5>
      <p>{{ elementData.email }}</p>
    </div>
    <div class="d-flex flex-column align-items-center">
      <h5>TELEFONO</h5>
      <p>{{ elementData.telefono }}</p>
    </div>
    <div class="d-flex flex-column align-items-center">
      <h5>DOMICILIO</h5>
      <p>{{ elementData.domicilio }}</p>
    </div>
    <div class="d-flex flex-column align-items-center">
      <h5>CREADO</h5>
      <p *ngIf="elementData.created_at as string">
        {{ elementData.created_at | dateSlice }}
      </p>
    </div>
    <div class="d-flex flex-column align-items-center">
      <h5>EDITADO</h5>
      <p *ngIf="elementData.updated_at as string">
        {{ elementData.updated_at | dateSlice }}
      </p>
    </div>
  </div>

  <div class="row" *ngSwitchCase="'ventas'">
    <div class="col-6 productsRow p-0 rounded-start">
      <h5 class="productHead mb-0 text-white p-3 border-bottom border-white">
        Datos del cliente
      </h5>
      <div class="p-3">
        <p>
          <b>Nombre: </b
          >{{
            elementData.cliente !== null
              ? elementData.cliente?.nombre
              : "A consumidor final"
          }}
        </p>
        <p><b>CUIT: </b>{{ elementData.cliente?.cuit_formateado }}</p>
        <p><b>Telefono: </b>{{ elementData.cliente?.telefono }}</p>
        <p><b>Domicilio: </b>{{ elementData.cliente?.domicilio }}</p>
        <p><b>Email: </b>{{ elementData.cliente?.email }}</p>
      </div>
    </div>
    <div class="col-6 productsRow p-0 rounded-end">
      <h5 class="productHead mb-0 text-white p-3 border-bottom border-white">
        Info de la venta
      </h5>
      <div class="p-3">
        <p><b>Número: </b>{{ elementData.numero }}</p>
        <p *ngIf="elementData.fecha as string">
          <b>Fecha: </b>{{ elementData.fecha | dateSlice }}
        </p>
        <p *ngIf="elementData.created_at as string">
          <b>Creada: </b>{{ elementData.created_at | dateSlice }}
        </p>
        <p *ngIf="elementData.updated_at as string">
          <b>Editada: </b>{{ elementData.updated_at | dateSlice }}
        </p>
      </div>
    </div>
    <h5 class="mt-2">Productos seleccionados:</h5>
    <div class="col-12 mt-2 productsContent">
      <div class="row productHead border-bottom border-white">
        <div class="col-2 border-end border-dark py-2">
          <p>Cant.</p>
        </div>
        <div class="col-3 border-end border-dark py-2">
          <p>Nombre</p>
        </div>
        <div class="col-3 border-end border-dark py-2">
          <p>Precio</p>
        </div>
        <div class="col-4 py-2">
          <p>Importe total</p>
        </div>
      </div>
      <div class="row productsRow" *ngFor="let item of elementData?.items">
        <div class="col-2 py-1">
          <p>{{ item.cantidad }}</p>
        </div>
        <div class="col-3 py-1">
          <p>{{ item.producto?.nombre }}</p>
        </div>
        <div class="col-3 py-1">
          <p>${{ item.producto?.precio }}</p>
        </div>
        <div class="col-4 py-1">
          <p>${{ item.importe_total }}</p>
        </div>
      </div>
    </div>
    <div class="col-12 mt-2 py-2">
      <h5 class="text-end mb-0">
        Total a pagar: ${{ elementData.importe_total }}
      </h5>
    </div>
  </div>
</div>
