.column-right{
  background-color: #d6d6d6;
}

@media (width < 992px){
  .PanelLeftMobile{
    position: absolute;
    left: 0;
    width: 40%;
    z-index: 2;
    animation: animationPanelLeft 0.3s linear;
  }
}

@media (width < 768px){
  .PanelLeftMobile{
    position: absolute;
    left: 0;
    width: 65%;
    z-index: 2;
    animation: animationPanelLeft 0.3s linear;
  }
}

@keyframes animationPanelLeft {
  0%{
    transform: translateX(-150px);
    opacity: 50%;
  }
  100%{
    transform: translateX(0px);
    opacity: 100%;
  }
}