<div class="container-fluid vh-100 vw-100 container-cardform">
  <div class="cubes">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="row justify-content-center align-items-center vh-100">
    <div class="col-11 col-md-6 col-lg-3 formCard px-5 pb-3">
      <div class="headerForm d-flex justify-content-center align-items-center">
        <div class="icon-head-content p-3">
          <img src="../../../assets/icons/avatar.svg" alt="avatar icon">
        </div>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="mt-5 py-3">
        <div class="mb-3">
          <div class="d-flex sectInput">
            <div class='contentIcon'>
              <img src="../../../assets/icons/avatarFill.svg" class="icons-form" alt="icon avatar">
            </div>
            <input type="text" id="username" formControlName="username" class="inputsForm" placeholder="Username">
          </div>
          <div class="error-message mt-1">
            <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched" class="text-danger">
              Username is required.
            </div>
          </div>
        </div>
        <div class="mb-3">
          <div class="d-flex sectInput">
            <div class='contentIcon'>
              <img src="../../../assets/icons/lockFill.svg" class="icons-form" alt="icon password">
            </div>
            <input type="password" id="password" formControlName="password" class="inputsForm" placeholder="Password">
          </div>
          <div class="error-message mt-1">
            <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-danger">
              Password is required.
            </div>
          </div>
        </div>
        <div class="button-content mt-3">
          <button type="submit" [disabled]="loginForm.invalid" [className]="loginForm.invalid? 'button-disabled':'button-form'">Iniciar sesión</button>
        </div>
      </form>
    </div>
  </div>
  <ngb-alert *ngIf="openAlert" [type]="typeAlert" (closed)="openAlert = false" class="alert">
    {{ messageAlert }}
  </ngb-alert>
  <div class="content-loader" *ngIf="startLoader">
    <span class="loader"></span>
  </div>
</div>
