<div class="col-12 d-flex justify-content-between">
  <h3>Productos</h3>
  <div class="d-flex">
    <input type="text" [(ngModel)]="valueInputSearch" class="input-search px-2" placeholder="Búsqueda" [maxLength]="30" >
    <button class="button-search px-2" type="button" (click)="searchProduct()">
      <img src="../../../assets/icons/search.svg">
    </button>
  </div>
  <button class="buttons-table px-3 d-flex align-items-center" (click)="modalOpen(1, null)">
    <img src="../../../assets/icons/plus.svg" class="me-2">
    Crear
  </button>
</div>
<div class="col-12 mt-4">
  <div class='row'>
    <div class="col-3 bg-colorDark pt-2 border-end border-1 border-secondary">
      <p class="text-white">Nombre</p>
    </div>
    <div class="col-3 bg-colorDark pt-2 border-end border-1 border-secondary">
      <p class="text-white">Codigo</p>
    </div>
    <div class="col-2 bg-colorDark pt-2 border-end border-1 border-secondary">
      <p class="text-white">Precio</p>
    </div>
    <div class="col-4 bg-colorDark pt-2 border-end border-1 border-secondary">
      <p class="text-white text-center">Acciones</p>
    </div>
  </div>
</div>
<div class="col-12 products-table">
  <div class="row product-row p-0" *ngFor="let products of productData.data">
    <div class="col-3 py-3 hiddenColumns">
      <p>{{products.nombre}}</p>
    </div>
    <div class="col-3 py-3 hiddenColumns">
      <p>{{products.codigo}}</p>
    </div>
    <div class="col-2 py-3 hiddenColumns">
      <p>${{products.precio}}</p>
    </div>
    <div class="col-4 py-3 d-flex justify-content-center hiddenColumns">
      <button class="me-2 buttons-table px-3 d-flex align-items-center" (click)="seeProduct(products.id)">
        <img src="../../../assets/icons/eye.svg" class="me-2">
        Ver
      </button>
      <button class="buttons-table px-3 d-flex align-items-center me-2" (click)="modalOpen(2,products)">
        <img src="../../../assets/icons/edit.svg" class="me-2">
        Editar
      </button>
      <button class="button-delete px-3 py-2" (click)="deleteProduct(products.id)">
        X
      </button>
    </div>
  </div> 
  <div class="row" *ngIf="productData.data?.length === 0">
    <div class="col-12 d-flex justify-content-center align-items-center py-5 my-5">
      <h2>No hay resultados.</h2>
    </div>
  </div>
</div>
<div class="col-12 d-flex justify-content-between mt-4">
  <div>
    <select class="form-select" aria-label="Default select example" (change)="changeItemPerPage($event)">
      <option selected>Ver de a "x" items por pagina</option>
      <option value="1">1 items</option>
      <option value="2">2 items</option>
      <option value="3">3 items</option>
      <option value="4">4 items</option>
      <option value="5">5 items</option>
      <option value="6">6 items</option>
      <option value="7">7 items</option>
      <option value="8">8 items</option>
      <option value="9">9 items</option>
      <option value="10">10 items</option>
    </select>
  </div>
  <div class="d-flex">
    <button 
      [disabled]="productData.pagination?.prevPage === null" 
      class="me-3 px-3 d-flex align-items-center"
      [ngClass]="{
        'buttons-disabled': productData.pagination?.prevPage === null,
        'buttons-table': productData.pagination?.prevPage !== null
      }"
      (click)="prevPage()"
    >
      <img src="../../../assets/icons/arrowLeft.svg" class="me-2">
      Anterior
    </button>
    <button 
      [disabled]="productData.pagination?.nextPage === null" 
      class="px-3 d-flex align-items-center"
      [ngClass]="{
        'buttons-disabled': productData.pagination?.nextPage === null,
        'buttons-table': productData.pagination?.nextPage !== null
      }"
      (click)="nextPage()"
    >
      Siguiente
      <img src="../../../assets/icons/arrowRight.svg" class="ms-2">
    </button>
  </div>
</div>

<ngb-alert *ngIf="openAlert" [type]="typeAlert" (closed)="openAlert = false" class="alert">
  {{ messageAlert }}
</ngb-alert>