<div class="col-12 d-lg-flex justify-content-between">
  <h3 class="text-center text-lg-start mb-3 mb-lg-0">
    {{
      optionClientOrProduct===1 ? 'Productos' :
      optionClientOrProduct===2 ? 'Clientes': 'Ventas'
    }}
  </h3>
  <div class="d-flex justify-content-between flex-wrap">
    <div class="d-flex position-relative me-md-5">
      <input type="text" [(ngModel)]="valueInputSearch" class="input-search px-2 py-2" placeholder="Búsqueda" [maxLength]="30" >
      <button class="button-search px-2" type="button" (click)="searchData()">
        <img src="../../../assets/icons/search.svg">
      </button>
      <div class="reloadNewSearch bg-secondary d-flex" *ngIf="reloadNewSearchButtons">
        <button (click)="reloadOrSearchData(true)">
          <img src="../../../assets/icons/reload.svg" class="me-2">
          <span>Recargar</span>
        </button>
        <button (click)="reloadOrSearchData(false)" *ngIf="optionClientOrProduct!==4">
          <img src="../../../assets/icons/search.svg" class="me-2">
          <span>Búscar</span>
        </button>
      </div>
    </div>
    <button *ngIf="optionClientOrProduct !== 4" class="buttons-table px-3 d-flex align-items-center" (click)="modalOpen(1, null)">
      <img src="../../../assets/icons/plus.svg" class="me-2">
      <span>Crear</span>
    </button>
  </div>
</div>

<div class="tableMobile m-0 p-0">
  <div class='row p-0 m-0 contentTableMobile'>
    <div class="col-12 mt-4">
      <div class='row fw-semibold bg-colorDark'>
        <div class="col-3 py-3 border-end border-1 border-secondary">
          <p class="text-white mb-0">{{optionClientOrProduct===4 ? 'Cliente': 'Nombre'}}</p>
        </div>
        <div class="col-3 py-3 border-end border-1 border-secondary">
          <p class="text-white mb-0">{{optionClientOrProduct===1? 'Codigo' : 'Cuit'}}</p>
        </div>
        <div class="col-2 py-3 border-end border-1 border-secondary">
          <p class="text-white mb-0">
            {{optionClientOrProduct===1 ? 'Precio' :
            optionClientOrProduct===2 ? 'Telefono': 'Importe'}}
          </p>
        </div>
        <div class="col-4 py-3 border-end border-1 border-secondary">
          <p class="text-white text-center mb-0">Acciones</p>
        </div>
      </div>
    </div>
    
    <div class="col-12 products-table">
      <div class="row product-row p-0" *ngFor="let element of elementData.data">
        <div class="col-3 py-3 hiddenColumns border-start border-white">
          <p class="mb-0">{{optionClientOrProduct!==4 ? element?.nombre :
            element?.cliente!==null ? element?.cliente?.nombre : 'A consumidor final' }}</p>
        </div>
        <div class="col-3 py-3 hiddenColumns">
          <p class="mb-0">
            {{
              optionClientOrProduct===1 ? element?.codigo :
              optionClientOrProduct===2 ? element?.cuit_formateado : element?.cliente?.cuit_formateado
            }}
          </p>
        </div>
        <div class="col-2 py-3 hiddenColumns">
          <p class="mb-0">
            {{optionClientOrProduct!==2 ? '$' : ''}}
            {{
              optionClientOrProduct===1 ? element?.precio :
              optionClientOrProduct===2 ? element?.telefono : element?.importe_total
            }}
          </p>
        </div>
        <div class="col-4 py-3 d-flex justify-content-center hiddenColumns border-end border-white">
          <button class="me-2 buttons-table px-3 d-flex align-items-center" (click)="seeData(element.id)">
            <img src="../../../assets/icons/eye.svg" class="me-2">
            <span>{{optionClientOrProduct!==4? 'Ver' : 'Ver más'}}</span>
          </button>
          <button class="buttons-table px-3 d-flex align-items-center me-2" (click)="modalOpen(2,element)" *ngIf="optionClientOrProduct!==4">
            <img src="../../../assets/icons/edit.svg" class="me-2">
            <span>Editar</span>
          </button>
          <button class="button-delete px-3 py-2" (click)="deleteData(element.id)">
            X
          </button>
        </div>
      </div> 
      <div class="row" *ngIf="elementData.data?.length === 0">
        <div class="col-12 d-flex justify-content-center align-items-center py-5 my-5 text-white">
          <h2>No hay resultados.</h2>
        </div>
      </div>
      <div class="row h-100" *ngIf="startLoader">
        <div class="col-12 d-flex loaderCont justify-content-center align-items-center" >
          <span class="loader"></span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-12 d-flex flex-column-reverse flex-md-row align-items-md-center justify-content-md-between mt-4">
  <div>
    <select class="form-select" aria-label="Default select example" (change)="changeItemPerPage($event)">
      <option selected>Ver de a "x" items por pagina</option>
      <option value="1">1 items</option>
      <option value="2">2 items</option>
      <option value="3">3 items</option>
      <option value="4">4 items</option>
      <option value="5">5 items</option>
      <option value="6">6 items</option>
      <option value="7">7 items</option>
      <option value="8">8 items</option>
      <option value="9">9 items</option>
      <option value="10">10 items</option>
    </select>
  </div>
  <div class="d-flex justify-content-center mb-3 mb-md-0">
    <button 
      [disabled]="buttonPrev === null" 
      class="me-3 px-3 d-flex align-items-center py-2"
      [ngClass]="{
        'buttons-disabled': buttonPrev === null,
        'buttons-table': buttonPrev !== null
      }"
      (click)="prevPage()"
    >
      <img src="../../../assets/icons/arrowLeft.svg" class="me-2">
      <span>Anterior</span>
    </button>
    <button 
      [disabled]="buttonNext === null" 
      class="px-3 d-flex align-items-center py-2"
      [ngClass]="{
        'buttons-disabled': buttonNext === null,
        'buttons-table': buttonNext !== null
      }"
      (click)="nextPage()"
    >
      <span>Siguiente</span>
      <img src="../../../assets/icons/arrowRight.svg" class="ms-2">
    </button>
  </div>
</div>

<ngb-alert *ngIf="openAlert" [type]="typeAlert" (closed)="openAlert = false" class="alert">
  {{ messageAlert }}
</ngb-alert>