<div class="head p-3 d-flex justify-content-between align-items-center">
  <div class="d-flex align-items-center">
    <div class="d-lg-none me-2">
      <button
        class="buttonToggle p-2"
        (click)="changePanel()"
        [ngClass]="{
          'buttonToggleUnselect': !auxBoolean,
          'buttonToggleSelect': auxBoolean
        }"
      >
        <svg
          viewBox="0 0 30 30"
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
        >
          <line x1="0" y1="6" x2="30" y2="6" stroke="white" stroke-width="2" />
          <line
            x1="0"
            y1="15"
            x2="30"
            y2="15"
            stroke="white"
            stroke-width="2"
          />
          <line
            x1="0"
            y1="24"
            x2="30"
            y2="24"
            stroke="white"
            stroke-width="2"
          />
        </svg>
      </button>
    </div>
    <h3 class="text-warning mb-0">Inter</h3>
    <h3 class="text-white mb-0">neg</h3>
  </div>
  <div>
    <h4 class="d-none d-md-inline text-white mb-0">
      Bienvenido {{ userName }}
    </h4>
  </div>
  <div>
    <button 
      class="d-flex align-items-center button-exit" 
      (click)="logout()"
      ngbTooltip="Cerrar sesión!" placement="top"
    >
      <img src="assets/icons/exit.svg" alt="icon exit" class="me-2" />
      Salir
    </button>
  </div>
</div>
